@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans);

  --color-primary-1: #191fe0;
  --color-primary-2: #474eff;
  --color-primary-dark-1: #220c40;
  --color-primary-dark-2: #130526;

  --color-muted-1: #848499;

  --color-background-1: #f7f7ff;
  --color-background-2: #ffffff;
}
